<div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        <br></br>
        <div class="row">
            <!--input class="form-control" placeholder="Otsi" type="search" /><span class="glyphicon glyphicon-search"></span!-->
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                    <input ng-model="searchText" type="text" class="form-control" placeholder="Otsi">
                    </div>
                </div>
                <p ng-show="(kandidaadid | filter:searchText).length == 0">Kandidaati '{{searchText}}' ei leitud.</p>
            </div>
            <div class="row">
                <table id="searchTextResults" ng-hide="(kandidaadid | filter:searchText).length == 0" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nimi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kandidaat in kandidaadid | filter:searchText">
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="" ng-model="$parent.kandid" ng-value="kandidaat" checked="">
									{{kandidaat.id}}
								
                                        </label>
                                    </div>
                                </td>
                                <td>
								{{kandidaat.name}}
							</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <h2 class="text-muted" ng-show="kandid == null">Kandidaatide tutvustus</h2>
                <h2>{{kandid.name}}</h2>
                <h3 class="text-primary" ng-hide="kandid == null">{{'#' + kandid.id}}</h3>
            </div>
        </div>